=form_tag('/providers', method: 'get') do

  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h2 Insurance
      .row
        .col-xs-10.col-xs-offset-1
          %fieldset.insurers
            - Insurer.all.each do |ins|
              %label{for: "ins-#{ins.id}"}=ins.name
              %input{type: 'checkbox', id: "ins-#{ins.id}", value: "ins-#{ins.id}", name: "ins-#{ins.id}"}

  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h2 Practice

      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'accepting'} Accepting New Patients
            %input{type: 'checkbox', value: 'accepting', id: 'accepting', name: 'accepting'}
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'type'} Provider Type
            %select{id: 'type', name: 'type'}
              %option
              - prov_types.each do |exp|
                %option{value: "#{exp}"}= exp
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'expertise'} Expertise
            %select{id: 'expertise', name: 'expertise'}
              %option
              - expertises.each do |exp|
                %option{value: "#{exp}"}= exp
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'specialization'} Specialization
            %select{id: 'specialization', name: 'specialization'}
              %option
              - specializations.each do |spec|
                %option{value: "#{spec}"}= spec


  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h2 Provider Identity
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'gender-id'} Gender Identity
            %select{id: 'gender-id', name: 'gender-id'}
              %option
              - gender_identities.each do |exp|
                %option{value: "#{exp}"}= exp
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'orientation'} Orientation
            %select{id: 'orientation', name: 'orientation'}
              %option
              - orientations.each do |exp|
                %option{value: "#{exp}"}= exp

  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h2 Training and Practices
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'pref-name'} Patients' Preferred Name in Charts
            %input{type: 'checkbox', value: 'pref-name', id: 'pref-name', name: 'pref-name'}
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'gend-neut-rr'} Gender Neutral Restrooms
            %input{type: 'checkbox', value: 'gend-neut-rr', id: 'gend-neut-rr', name: 'gend-neut-rr'}
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'comp-intake'} Comprehensive Intake
            %input{type: 'checkbox', value: 'comp-intake', id: 'comp-intake', name: 'comp-intake'}
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'lgbtq-trained'} Staff Fully Trained in LGBTQ Issues
            %input{type: 'checkbox', value: 'lgbtq-trained', id: 'lgbtq-trained', name: 'lgbtq-trained'}
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'cultu-tarined'} Staff Fully Trained in Racial & Cultural Issues
            %input{type: 'checkbox', value: 'cultu-tarined', id: 'cultu-tarined', name: 'cultu-trained'}


  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h2 Sort Results
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'sort-by'} Sort Results By
            %select{id: 'sort-by', name: 'sort-by'}
              %option{value: 'name'} Name
              %option{value: 'type'} Type
              %option{value: 'city'} City
              %option{value: 'zip'} Zip Code

  .row.filter-big-row
    .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0
      %fieldset
        %input.grey-button{type:'reset', name: 'reset', value: 'Reset Filters'}
    .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0
      %fieldset
        %input.base-submit{type: 'submit', name: 'submit-filter', value: 'Filter Providers'}
    .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0
      = link_to providers_path do
        .btn.btn-link.grey-button Browse All Providers

/ %form
/   %h2 Search Providers
/   %label{for: 'search'} Search
/   %input{id: 'search', name: 'search'}
/   %input{type: 'submit', name: 'submit-search', value: 'Submit Search'}