=form_tag('/providers', method: 'get', namespace: 'text_search') do

  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h3 Insurance
      .row
        .col-xs-10.col-xs-offset-1
          %fieldset.insurers
            - Insurer.all.each do |ins|
              = label_tag("ins-#{ins.id}", ins.name)
              = check_box_tag("filter_search[ins-#{ins.id}]")

  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h3 Practice

      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'new-clients'} Accepting New Patients
            = check_box_tag('filter_search[new-clients]')
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'type'} Provider Type
            = select_tag('filter_search[type]', options_for_select(prov_types), include_blank: true)
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'expertise'} Expertise
            = select_tag('filter_search[expertise]', options_for_select(expertises), include_blank: true)
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'specialization'} Specialization
            = select_tag('filter_search[specialization]', options_for_select(specializations), include_blank: true)


  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h3 Provider Identity
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'gender-id'} Gender Identity
            = select_tag('filter_search[gender-id]', options_for_select(gender_identities), include_blank: true)
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'orientation'} Orientation
            = select_tag('filter_search[orientation]', options_for_select(orientations), include_blank: true)

  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h3 Training and Practices
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'pref-name'} Patients' Preferred Name in Charts
            = check_box_tag('filter_search[pref-name]')
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'gend-neut-rr'} Gender Neutral Restrooms
            = check_box_tag('filter_search[gend-neut-rr]')
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'comp-intake'} Comprehensive Intake
            = check_box_tag('filter_search[comp-intake]')
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'lgbtq-trained'} Staff Fully Trained in LGBTQ Issues
            = check_box_tag('filter_search[lgbtq-trained]')
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'cultu-trained'} Staff Fully Trained in Racial & Cultural Issues
            = check_box_tag('filter_search[cultu-trained]')


  .row.filter-big-row
    .col-xs-11.col-xs-offset-1
      .row
        .col-xs-12
          %h3 Sort Results
      .row
        .col-xs-8.col-xs-offset-1
          %fieldset
            %label{for: 'sort-by'} Sort Results By
            = select_tag('filter_search[sort-by]', options_for_select(%w{name city type zipcode}), include_blank: true)

  .row.filter-big-row
    .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0
      %fieldset
        %input.grey-button{type:'reset', name: 'reset', value: 'Reset Filters'}
    .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0
      %fieldset
        %input.base-submit{type: 'submit', name: 'submit-filter', value: 'Filter Providers'}
    .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0
      = link_to providers_path do
        .btn.btn-link.grey-button Browse All Providers
