.quick-search
  %h2.text-center Quick Search
  .quick-row-1
    = form_tag "/providers", method: "get" do
      = label_tag "search", "Search for Providers by Name, Type, or Population Specialization"
      = text_field_tag :search, params[:search], placeholder: "acupuncturist"
      = submit_tag "Search", name: nil, :class => "base-submit"
  .quick-row-2
    - unless @providers
      = link_to providers_path do
        .btn.btn-link.grey-button Browse All Providers
    = link_to advanced_search_path do
      .btn.btn-link.grey-button Advanced Search