= form_tag "/search", method: "get" do
  = label_tag "Search for Providers"
  = text_field_tag :search, params[:search], placeholder:"sparkle"
  = submit_tag "search", name: nil

= link_to providers_path do
  %button Clear Search

%h1 All Providers

%ul
  - @providers.each do |provider|
    %li
      = link_to provider.name, provider_path(provider.id)
      = provider.city
      = provider.insurers.map { |ins| ins.name } .join(", ")
