.row
  .col-xs-12.results-head
    %h1.col-xs-10.col-xs-offset-1 Provider Search Results

.row
  .col-xs-10.col-xs-offset-1
    - @providers.each do |provider|
      .row.card
        .col-xs-2
          = image_tag("QuHac-logo.png")
        .col-xs-10.card-fill
          .row
            .col-xs-12.provider-index-head
              %h2= link_to provider.name, provider_path(provider.id)
              / %p.title= provider.type
              %p.title Massage Therapist
          .row
            .col-xs-12.col-sm-5
              .address
                %p.hidden-xs= provider.street_address
                %p= provider.city
                %p= provider.phone

            .col-xs-12.col-sm-6
              .row
                .col-xs-4
                  %p Medicaid?
                .col-xs-2
                  %p= provider.accepts_medicaid
              .row
                .col-xs-4
                  %p Medicare?
                .col-xs-2
                  %p= provider.accepts_medicare
              .row
                .col-xs-12
                  Insurance accepted:
                  %p= provider.insurers.map { |ins| ins.name } .join(", ")

.row
  .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
    = link_to providers_path do
      %button.base-submit.clr-search.center-block Clear Search
