.row
  .col-xs-12
    %h1 Advanced Search

    %p This will be replaced by a more complex search form when we understand our providers data model better.
.row
  = form_tag "/providers", method: "get" do
    .col-xs-12.col-sm-8.col-sm-offset-2
      = label_tag "Search for Providers"
      = text_field_tag :search, params[:search], placeholder:"sparkle"

.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    = submit_tag "search", name: nil
    = link_to providers_path do
      %button Browse All Providers