.row
  .col-xs-12
    %h1 Advanced Search

    %p This will be replaced by a more complex search form when we understand our providers data model better.
.row
  .col-xs-0.col-sm-2
  = form_tag "/providers", method: "get" do
    .col-xs-12.col-sm-8
      = label_tag "Search for Providers"
      = text_field_tag :search, params[:search], placeholder:"sparkle"
  .col-xs-0.col-sm-2

.row
  .col-xs-0.col-sm-2
  .col-xs-12.col-sm-8
    = submit_tag "search", name: nil
    = link_to providers_path do
      %button Browse All Providers
  .col-xs-0.col-sm-2