!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %meta{property: "og:title", content: "Quality Healthcare Accountability Coalition" }/
    %meta{property: "og:type", content: "website" }/
    %meta{property: "og:url", content: "http://quhac.gaycity.org/" }/
    %meta{property: "og:image", content: "" }/
    %meta{property: "og:description", content: "QuHAC is a group of LGBTQ and allied Seattle residents working together to ensure that our community has access to high quality, competent healthcare." }/

    %meta{property: "twitter:card", content: "summary"}/
    %meta{property: "twitter:site", content: ""}/
    %meta{property: "twitter:description", content: "QuHAC is a group of LGBTQ and allied Seattle residents working together to ensure that our community has access to high quality, competent healthcare."}/
    %meta{property: "twitter:image", content: ""}/
    %meta{property: "twitter:url", content: "http://quhac.gaycity.org/"}/
    %meta{property: "twitter:title", content: "Quality Healthcare Accountability Coalition"}/

    %title Quhac
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = link_to root_path do
        %h1 LOGO HERE
      %p.notice= notice
      %p.alert= alert
    = yield
    %footer
      = link_to "Contact Us", contact_path
      = link_to "Search Providers", advanced_search_path
      %a{:alt => "Gay City", :href => "http://gaycity.org", :target => "_blank"} A project of Gay City
      - if current_user
        = link_to "Sign Out", destroy_user_session_path, method: :delete
        = link_to "Admin Dashboard", rails_admin_path if can? :manage, Provider
