!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %meta{property: "og:title", content: "Quality Healthcare Accountability Coalition" }/
    %meta{property: "og:type", content: "website" }/
    %meta{property: "og:url", content: "http://quhac.gaycity.org/" }/
    %meta{property: "og:image", content: "" }/
    %meta{property: "og:description", content: "QuHAC is a group of LGBTQ and allied Seattle residents working together to ensure that our community has access to high quality, competent healthcare." }/

    %meta{property: "twitter:card", content: "summary"}/
    %meta{property: "twitter:site", content: ""}/
    %meta{property: "twitter:description", content: "QuHAC is a group of LGBTQ and allied Seattle residents working together to ensure that our community has access to high quality, competent healthcare."}/
    %meta{property: "twitter:image", content: ""}/
    %meta{property: "twitter:url", content: "http://quhac.gaycity.org/"}/
    %meta{property: "twitter:title", content: "Quality Healthcare Accountability Coalition"}/

    %title Quhac
    = favicon_link_tag(source='favicon.ico')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.center-block
    .container-fluid
      .row

        %header
          = link_to root_path do
            = image_tag("quhac-facebookheader-pink.jpg", :alt => "")
            %h1.sr-only
              Queer Healthcare Accountability Coalition
        %p.notice= notice
        %p.alert= alert

    = yield

    .row
      .col-xs-12
        .row
        %footer.col-xs-12
          .row
            .col-xs-12
              %ul
                %li
                  = link_to "Contact Us", contact_path
                %li
                  = link_to "Search Providers", advanced_search_path
                - if current_user
                  %li
                    = link_to "Sign Out", destroy_user_session_path, method: :delete
                  %li
                    = link_to "Admin Dashboard", rails_admin_path if can? :manage, Provider
          .row.gay-city

            .col-xs-4.col-xs-offset-4.col-sm-2.col-sm-offset-5.text-center
              = link_to root_path do
                = image_tag("gchp-aptby-black.jpg")
