<!DOCTYPE html>
<html>
<head>
  <title>Quhac</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to root_path do  %>
      <h1>LOGO HERE</h1>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </header>


  <%= yield %>

  <footer>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "Search Providers", advanced_search_path %>
    <a href="http://gaycity.org" alt="Gay City" target="_blank">A project of Gay City</a>
    <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <%= link_to "Admin Dashboard", rails_admin_path if can? :manage, Provider %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </footer>
</body>
</html>
